<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="restaurant-outline"></ion-icon>
    </ion-buttons>
    <ion-title> Restaurant Siglo XXI App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" [fullscreen]="true">
  <ion-img
    src="https://images.pexels.com/photos/1581554/pexels-photo-1581554.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="The Wisconsin State Capitol building in Madison, WI at night"
  ></ion-img>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="white">Conoce nuestra carta</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Mira los diferentes platos que tenemos en nuestro
      restaurant</ion-card-content
    >

    <ion-button color="dark" fill="clear">Carta</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="white">Reserva con nosotros</ion-card-title>
    </ion-card-header>

    <ion-card-content> Reserva una mesa con nosotros. </ion-card-content>

    <ion-button color="dark" fill="clear">Reservar</ion-button>
  </ion-card>
</ion-content>
